a {
  color: black; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
  background-color: #f9f9f9; }

.bg-dark {
  background-color: black !important; }

.btn {
  border-radius: 2rem;
  line-height: .9rem;
  font-weight: 600;
  font-size: .9rem;
  padding-left: 1rem;
  padding-right: 1rem; }

p {
  font-size: .8rem; }

nav .nav-item {
  margin-right: 1rem;
  font-weight: 600;
  font-size: .9rem; }

section#post-list .card {
  border-radius: 0; }

section#post-list .card-img-top {
  border-radius: 0; }

section#post-list .card-body {
  padding: .7rem;
  line-height: 1.2rem; }
  section#post-list .card-body .card-title {
    font-size: .8rem;
    font-weight: bold; }

section#post-list .card-footer {
  background-color: white;
  padding: .7rem; }

section#post-list .card-text {
  font-size: .8rem; }

@media (min-width: 576px) {
  section#post-list .card-columns {
    column-count: 5;
    column-gap: 1.25rem; } }

@media (max-width: 1200px) {
  section#post-list .card-columns {
    column-count: 4;
    column-gap: 1.25rem; } }

@media (max-width: 886px) {
  section#post-list .card-columns {
    column-count: 3;
    column-gap: 1.25rem; } }

@media (max-width: 666px) {
  section#post-list .card-columns {
    column-count: 2;
    column-gap: 1.25rem; } }

@media (max-width: 414px) {
  section#post-list .card-columns {
    column-count: 1;
    column-gap: 1.25rem; } }

@media (max-width: 1200px) {
  section#user-profile .card-columns {
    column-count: 3;
    column-gap: 1.25rem; } }

@media (min-width: 576px) {
  section#user-profile .card-columns {
    column-count: 3;
    column-gap: 1.25rem; } }

@media (max-width: 1200px) {
  section#user-profile .card-columns {
    column-count: 3;
    column-gap: 1.25rem; } }

@media (max-width: 886px) {
  section#user-profile .card-columns {
    column-count: 2;
    column-gap: 1.25rem; } }

@media (max-width: 666px) {
  section#user-profile .card-columns {
    column-count: 3;
    column-gap: 1.25rem; } }

@media (max-width: 414px) {
  section#user-profile .card-columns {
    column-count: 1;
    column-gap: 1.25rem; } }

section#user-profile .card {
  border-radius: 0; }
  section#user-profile .card .card-title {
    margin-bottom: .5rem; }
  section#user-profile .card .card-img-top {
    border-radius: 0; }
  section#user-profile .card .card-body {
    background-color: #f9f9f9; }
  section#user-profile .card .list-group-item {
    background-color: #f9f9f9;
    font-size: .8rem;
    line-height: 1.5rem; }
    section#user-profile .card .list-group-item i {
      width: 1.5rem; }

section#user-profile .card-columns .card-body {
  padding: .7rem;
  line-height: 1.2rem;
  background-color: white; }
  section#user-profile .card-columns .card-body .card-title {
    font-size: .8rem;
    font-weight: bold; }

section#user-profile .card-columns .card-footer {
  background-color: white;
  padding: .7rem; }

section#user-profile .card-columns .card-text {
  font-size: .8rem; }
