// Main Sass File


a {
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
    background-color: rgb(249, 249, 249);
}

.bg-dark {
    background-color: black !important;
}

.btn {
    border-radius: 2rem;
    line-height: .9rem;
    font-weight: 600;
    font-size: .9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    font-size: .8rem;
}

nav {
    .nav-item {
        margin-right: 1rem;
        font-weight: 600;
        font-size: .9rem;
    }
}

section#post-list {

    .card {
        border-radius: 0;
    }

    .card-img-top {
        border-radius: 0;
    }

    .card-body {
        padding: .7rem;
        line-height: 1.2rem;

        .card-title {
            font-size: .8rem;
            font-weight: bold;
        }
    }

    .card-footer {
        background-color: white;
        padding: .7rem;
    }

    .card-text {
        font-size: .8rem;
    }

    @media (min-width: 576px) {
        .card-columns {
            column-count: 5;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 1200px) {
        .card-columns {
            column-count: 4;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 886px) {
        .card-columns {
            column-count: 3;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 666px) {
        .card-columns {
            column-count: 2;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 414px) {
        .card-columns {
            column-count: 1;
            column-gap: 1.25rem;
        }
    }
}

section#user-profile {
    @media (max-width: 1200px) {
        .card-columns {
            column-count: 3;
            column-gap: 1.25rem;
        }
    }
    
    @media (min-width: 576px) {
        .card-columns {
            column-count: 3;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 1200px) {
        .card-columns {
            column-count: 3;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 886px) {
        .card-columns {
            column-count: 2;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 666px) {
        .card-columns {
            column-count: 3;
            column-gap: 1.25rem;
        }
    }
    
    @media (max-width: 414px) {
        .card-columns {
            column-count: 1;
            column-gap: 1.25rem;
        }
    }

    .card {
        border-radius: 0;

        .card-title {
            margin-bottom: .5rem;
        }
        
        .card-img-top {
            border-radius: 0;
        }

        .card-body {
            background-color: #f9f9f9;
        }

        .list-group-item {
            background-color: #f9f9f9;
            font-size: .8rem;
            line-height: 1.5rem;
            
            i {
                width: 1.5rem;
            }
        }
    }    

    .card-columns {
        .card-body {
            padding: .7rem;
            line-height: 1.2rem;
            background-color: white;
    
            .card-title {
                font-size: .8rem;
                font-weight: bold;
            }
        }
    
        .card-footer {
            background-color: white;
            padding: .7rem;
        }
    
        .card-text {
            font-size: .8rem;
        }
    }
}

section#user-profile-edit {
    .card-body {
        background-color: white;
    }
}